﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Quotation Application</h1>
    <p class="lead"> Save your quotes to our site. </p>
</div>
<div>
    <form action="~/Quotations/Index">
        <input type="submit" value="View Quotes">
    </form> <br />
</div>
