﻿@model IEnumerable<WebAppQuotation.Models.Quotation>
@using GridMvc.Html

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class = "btn btn-primary btn-xs"})
</p>

@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Search" class="btn btn-primary btn-xs" /> @Html.TextBox("searchString") 
    </p>
}

    @helper GridManageItemColumn(int id)
{
    @Html.ActionLink("Edit", "Edit", "Quotations", new { Id = id }, new { @class = "btn btn-primary btn-xs"})
    
    @Html.ActionLink("Details", "Details", "Quotations", new { Id = id }, new { @class = "btn btn-primary btn-xs" })
    
    @Html.ActionLink("Delete", "Delete", "Quotations", new { Id = id }, new { @class = "btn btn-primary btn-xs" })

}


    @Html.Grid(Model).Columns(columns =>
            {
                columns.Add(foo => foo.Category.Name).Sortable(true).Titled("Category");
                columns.Add(foo => foo.Quote);
                columns.Add(foo => foo.Author).SetWidth(110).Sortable(true);
                columns.Add(foo => foo.Date).Sortable(true).Format("{0: dd/MM/yyyy}");
                columns.Add(foo => foo.QuotationID).Titled("").Sanitized(false).Encoded(false).RenderValueAs(foo => GridManageItemColumn(foo.QuotationID).ToHtmlString());
            }).WithPaging(10)


@*
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Category.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quote)
        </th>
        <th>
            @*Html.DisplayNameFor(model => model.Author)*@
@*            <a href="/Quotations?sortby=model.Author">Author</a>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.QuotationID }) |
                @Html.ActionLink("Details", "Details", new { id = item.QuotationID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.QuotationID })
            </td>
        </tr>
    }

</table>
*@
